body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/map.jpg);
    backdrop-filter: blur(8px);
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

body>h1 {
    color: white;
    text-align: center;
    font-size: 32pt;
}

/*map playground*/

div#map_div {
    height: 1000px;
    width: 1000px;
    margin-left: -500px;
    background-color: white;
    background-image: url(./../img/map.jpg);
    background-size: 1000px auto;
    left: 50%;
    padding: 0px;
    position: relative;
}

/*elements in the map*/

div#map_div>div, div#map_div>p {
    position: absolute;
    float: left;
}

/*pawns in the map*/

div#map_div>div.pawn {
    background-image: url(./../img/default.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/*explaining in the map*/

div#map_div>div.explaining {
    border-radius: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) transparent;
    padding: 10px;
    backdrop-filter: blur(8px);
    border: 5px solid rgba(0,0,0,0.2);
    color:white;
}

div.explaining>h1 {
    font-size: 18px;
    margin: 0px;
}

div.explaining>p {
    font-size: 16px;
    margin: 0px;
}

/* player follower */

div#map_div>div#follower {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -12px;
    margin-left: -12px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    z-index: 0;
}

div#map_div>p#follower_text {
    text-align: center;
    width: 100px;
    margin-left: -50px;
    color: white;
}